
*{
    margin: 0px;
    padding: 0px;
}


.h{
    margin: 10px;
    text-decoration: none;
}

 p{
    margin: 10px; 
 }
.j{
    text-align: center;
    display: flex;
    justify-content: center;
}

/* NAVBAR SECTION */
i{
    float: right;
    margin: 12px;
}
.a{
    text-decoration: none;
    color: black;
   display: inline-block;
   vertical-align: middle;
   float: right;
   margin: 12px;
}

/* BUTTON SECTION */
.t{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
    border: solid white;
    outline: none;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
}

.p{
    width: 10%;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

/* INPUT SECTION */
.f{
    margin: 0 auto;
    display: block;
    padding: 14px;
    width: 40%;
    border-radius: 20px;
    outline: none;
    background: #fff;
    border: solid 1px rgb(209, 202, 202);
    box-shadow: 0 0 40px #fff;

}

.f:hover{
    box-shadow: 0 0 8px rgb(201, 192, 192), 0 0 8px #fff;
    background: white;
    padding: 14px;
}
 
/* GOOGLE IMAGE SECTION */
.g{
    margin-top: 60%;
}

#google{
    margin: 0 auto;
    display: block; 
    position: relative;
    left: 9%;
}


.pro{
    background: palevioletred;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    color: white;
    border: none;
    margin-right: 10px;
    margin: 6px;
    float: right;
    text-align: center;
}   


/* FOOTER SECTION */
footer{
    background: lightgray;
   left: 0;
   bottom: 0;
   position: fixed;
   width: 100%;
   padding: 10px;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin: 10px;
    margin-top: 30px;
}

.d{
    margin: 10px;
    margin-top: 30px;
}

.o{
    text-align: center;
}





